@import "tailwindcss";

@theme {
  /* Color  */
  --color-softBlue: oklch(0.57 0.1826 271.76);
  --color-softRed: oklch(0.68 0.1991 24.15);
  --color-grayishBlue: oklch(0.67 0.0199 275.76);
  --color-veryDarkBlue: oklch(0.3 0.0501 273.36);

  /* Font Family */
  --font-sans: "Rubik", sans-serif;

  /* Breakpoints  */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1020px */
  --breakpoint-xl: 90rem; /* 1440px */
}

@layer base {
}

@layer components {
}

/* background image should only show on 1020px and above  */
@media (min-width: 64rem) {
  .bg-Hero {
    width: 2000px;
    height: 300px;
    left: 30%;
    @apply absolute rounded-l-full top-52 bg-softBlue;
  }

  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-softBlue;
  }
}

.bg-dots {
  background-image: url("./images/bg-dots.svg");
}

.ficon:hover {
  filter: invert(53%) sepia(38%) saturate(3303%) hue-rotate(326deg)
    brightness(101%) contrast(96%);
}

/* Hamburger Menu  */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: oklch(0.3 0.0501 273.36);
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  position: fixed;
  top: 50px;
  right: 25px;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
  background-color: #fff;
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
  background-color: #fff;
}
